{% extends 'layouts/auth_base.html' %}

{% block title %} Log in {% endblock title %}

{% block bodyclass %} login-page {% endblock bodyclass %}

{% block content %}
{% load static %}
<div class="login-box">
  <div class="login-logo">
      {% if preference and preference.logo %}
        <img src="{{ preference.logo.url }}" alt="Logo" class="brand-image elevation-3 " style="max-width: 150px; max-height: 40px;opacity: .8;">
      {% else %}
        <!-- Default logo if preference or logo is not set -->
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="Default Logo" class="brand-image elevation-3" style="opacity: .8">
      {% endif %}
  </div>
  <div class="login-logo">
    {% if preference and preference.company_name %}
      <a>
        {{ preference.company_name }}
      </a>
    {% else %}
    <a>
      modify your company name
    </a>
      
    {% endif %}
</div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
          {% for error in form.non_field_errors  %}
            <small class="text-danger mb-3">{{ error }}</small>
          {% endfor %}
        {% endif %}

        {% for field in form %}
        <div class="input-group mb-3">
          {{field}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas {% if field.name == 'username' %} fa-user {% else %}  fa-lock {% endif %}"></span>
            </div>
          </div>
        </div>
        <small class="text-danger">{{ field.errors }}</small>
        {% endfor %}
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
